# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if (a%2==0) and (b%2==0):
        return a if a < b else b
        # return min(a, b)
    return a if a > b else b
    # return max(a, b)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
def animal_crackers(text):
    animals = text.split()
    return (animals[0].lower()[0] == animals[1].lower()[0])

In [5]:
# Check
animal_crackers('Levelheaded Llama')

True

In [6]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [7]:
def makes_twenty(n1,n2):
    s = n1+n2
    return (s==20) or (n1==20) or (n2==20)

In [8]:
# Check
makes_twenty(20,10)

True

In [9]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [10]:
def old_macdonald(name):
    i = name[0:3].capitalize()
    l = name[3:].capitalize()
    return i+l
# if the name is bigger than 3?? -- error

In [11]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [12]:
def master_yoda(text):
    words = text.split()
    return ' '.join(words[::-1])

In [13]:
# Check
master_yoda('I am home')

'home am I'

In [14]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [15]:
def almost_there(n):
    return (90 <= n <= 110) or (190 <= n <= 210)
    # return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [16]:
# Check
almost_there(104)

True

In [17]:
# Check
almost_there(150)

False

In [18]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [19]:
def has_33(nums):
    prev = 0
    for num in nums:
        if (num==3) and (prev==3):
            return True
        prev = num
#     for i in range(0, len(nums)-1):
#         if nums[i:i+2] == [3,3]:
#             return True
    return False

In [20]:
# Check
has_33([1, 3, 3])

True

In [21]:
# Check
has_33([1, 3, 1, 3])

False

In [22]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [23]:
def paper_doll(text):
    s = ''
    for letter in text:
        s = s + (letter*3)
    return s

In [24]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [25]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [26]:
def blackjack(a,b,c):
    s = a+b+c
    if (s < 21):
        return s
    elif (s > 21) and (11 in (a, b, c)):
        return s-10;
    if (s > 21):
        return 'BUST'
    return s

# def blackjack(a,b,c):
#     if sum((a,b,c)) <= 21:
#         return sum((a,b,c))
#     elif sum((a,b,c)) <= 31 and 11 in (a,b,c):
#         return sum((a,b,c)) - 10
#     else:
#         return 'BUST'

In [27]:
# Check
blackjack(5,6,7)

18

In [28]:
# Check
blackjack(9,9,9)

'BUST'

In [29]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [30]:
def summer_69(arr):
    s = 0
    six = False
    for num in arr:
        if (num == 6):
            six = True
        elif (num == 9) and (six):
            six = False
        elif (not six):
            s += num
    return s

In [31]:
# Check
summer_69([1, 3, 5])

9

In [32]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [33]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [34]:
def spy_game(nums):
    order = ''
    for num in nums:
        if (num==0) or (num==7):
            order += ('%d' % num)
    return '007' in order

In [35]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [36]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [37]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [38]:
import math

def is_prime2(num):
    '''
    Better method of checking for primes. 
    '''
    if num % 2 == 0 and num > 2: 
        return False
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if num % i == 0:
            return False
    return True
    
def count_primes(num):
    c = 1 if num >= 2 else 0
    for i in range(3, num+1, 2):
        if is_prime2(i):
            c += 1
    return c

In [39]:
count_primes(5)

3

In [40]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [41]:
dict_big = {
    'a' : '  *  \n * * \n*****\n*   *\n*   *\n'
}

def print_big(letter):
    print(dict_big[letter], end='')

In [42]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!